.age-box {
  background-color: #36414186;
  padding: 1rem;
  border-radius: 12px;
  flex: 1;
  max-height: 30rem;
}

.age-bars {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}



.age-label {
  width: 80px;
  color: #ccc;
  font-size: 1rem;
}

.age-count {
  color: #ffffff;
  display: flex;
  justify-content: end;
  
}

.progress-bar {
  flex: 1;
  background: #3d454d;
  border-radius: 4px;
  height: 5px;
  overflow: hidden;
}

.fill {
  background: #00d9c0;
  height: 100%;
  width: 0%;
  transition: width 0.4s ease;
}