.card {
  background-color: #1B2627;
  border-radius: 12px;
  padding: 0.1rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 90px;
  
  gap: 1.2rem;
  align-self: start;
  order: +2;  
  
}


.card-icon {
  color: #07fde1;
  font-size: 1.3rem;
}


.card-label {
  font-size: 0.7rem;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
}

.card-value {
  font-size: 3.1rem;
  line-height: 1;
  color: #ffffff;
  margin: 0.2rem 0 0.2rem;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin-top: 1rem;
}

.icon-bubble {
  background-color: #3641418e;
  padding: 2.3rem;
  border-radius: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.3rem; 
}

.card-change {
  font-size: 0.75rem;
  color: #00d9c0;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 6.3rem;
  margin-top: -1.6rem;
}

.card-change::after {
  content: '↗';
  font-size: 0.75rem;
  margin-left: 0.3rem;
}