.gender-box {
  background-color: #36414186;
  padding: 1rem;
  border-radius: 8px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.genderHeader{
  display: flex;
  align-self: baseline;
  margin-top: 0.5rem;
  font-style:normal;
  font-size: medium;
  margin-left: 0.5rem;
  
}
.gender-content {
  display: flex;
  align-items: center;
  width: 100%;
}


.gender-chart {
  width: 100%;
  height: 280px; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1.5rem; 
}

.gender-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 1rem;
  min-width: 100px;
}

.gender-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.gender-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.gender-label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #b0c4c4;
}
.gender-value {
  font-size: 1.1rem;
  color: white;

}
.female {
  color: #00d9c0;
}
.male {
  color: #4cc6f3;
}

.gender-center {
  font-size: 1.2rem;
  color: #888;
  font-weight: 400;
  width: 40px;
  text-align: center;
}

.gender-percentages {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gender-percent {
  font-size: 0.85rem;
  font-weight: 600;
  color: #ffffff;
}


.gender-center-display {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.big-percent {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.left-percent, .right-percent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percent-symbol {
  font-size: 0.9rem;
  color: #aaa;
  margin-top: -0.3rem;
}

.center-label {
  font-size: 0.85rem;
  color: #ccc;
  margin-top: 0.2rem;
}

.divider {
  height: 40px;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}