.gender-box {
  background-color: #36414186;
  padding: 1rem;
  border-radius: 8px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.gender-content {
  display: flex;
  align-items: center;
  width: 100%;
}


.gender-chart {
  flex: 1;
  position: relative;
}

.gender-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 1rem;
  min-width: 100px;
}

.gender-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.gender-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.gender-label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #b0c4c4;
}
.gender-value {
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  margin-left: 0.5rem;

}
.female {
  color: #00d9c0;
}
.male {
  color: #4cc6f3;
}

.gender-center {
  font-size: 1.2rem;
  color: #888;
  font-weight: 400;
  width: 40px;
  text-align: center;
}

.gender-percentages {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gender-percent {
  font-size: 0.85rem;
  font-weight: 600;
  color: #ffffff;
}


.gender-center-display {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.big-percent {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}

.percent-symbol {
  font-size: 1.2rem;
  margin-left: 0.25rem;
  color: #ccc;
}

.center-label {
  font-size: 0.75rem;
  color: #aaa;
  margin-top: 0.25rem;
}

.divider {
  height: 3rem;
  width: 1px;
  background-color: #555;
  opacity: 0.4;
}