.gender-box {
  background-color: #3641418e;
  padding: 1rem;
  border-radius: 8px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
}

.genderHeader {
  margin-top: 0.5rem;
  font-size:smaller;
  margin-left: 0.5rem;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

.gender-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.gender-stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0 1rem;
  min-width: 100px;
  margin-top: 2rem;
}

.gender-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gender-label {
  font-size: 0.95rem;
  font-weight: 500;
  color: #b0c4c4;
  font-family: 'IBM Plex Sans', sans-serif;
}

.gender-value {
  font-size: 1.1rem;
  color: white;
}

.female {
  color: #6FFFE5;
}

.male {
  color: #54BAF3;
}

.gender-chart {
  position: relative;
  width: 100%;
  height: 280px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: visible; 
}

.gender-center-display {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 100;
}

.left-percent, .right-percent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-percent {
  font-size: 3.5rem;
  font-weight: 200;
  color: #ffffff;
}

.center-label {
  font-size: 0.85rem;
  color: #aaa;
  margin-top: 0.2rem;
}

.center-percent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.2rem;
}

.center-percent .big-percent {
  font-size: 1.2rem;
  font-weight: 400;
  color: #aaa;
  z-index: 1; 
   padding: 0.4rem;
}

.center-percent::before,
.center-percent::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 35px; 
  background-color: rgba(255, 255, 255, 0.3);
  left: 50%;
  transform: translateX(-50%);
 
}

.center-percent::before {
  top: -40px;
}

.center-percent::after {
  bottom: -30px;
}


.glow-arc {
  filter: blur(0.8px);
  opacity: 0.15;
  mix-blend-mode: screen;
  transition: filter 0.3s ease;

  -webkit-mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 1) 50%,     
 
    rgba(0, 0, 0, 0) 100%     
  );

  mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 1) 50%,

    rgba(0, 0, 0, 0) 89%
  );
}

@media (max-width: 600px) {
  .gender-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .gender-stats {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }

  .gender-chart {
    height: 240px;
  }

  .gender-center-display {
    transform: translate(-50%, -50%);
    gap: 1rem;
  }
}